body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
  }
  :root {
    --main-color: #007bff; 
    --alt-color: #0056b3; 
    --text-color: #666;
    --box-shadow-color: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .header {
    background-color: var(--main-color);
    color: white;
    padding: 40px 0;
    text-align: center;
    position: relative;
  }
  .header::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 5px;
    background-color: white;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .navbar-toggler:focus {
    box-shadow: none;
}
  .nav-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .nav-links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }
  .nav-links a:hover {
    text-decoration: underline;
  }
  .post {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: var(--box-shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .post:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .post h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .post p {
    color: var(--text-color);
    line-height: 1.6;
  }
  .post .btn-primary {
    background-color: var(--main-color);
    border: none;
  }
  .post .btn-primary:hover {
    background-color: var(--alt-color);
  }
  .sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow-color);
    margin-bottom: 20px;
  }
  .sidebar h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  .sidebar ul {
    list-style-type: none;
    padding-left: 0;
  }
  .sidebar ul li {
    margin-bottom: 10px;
  }
  .sidebar ul li a {
    color: var(--main-color);
    text-decoration: none;
  }
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
  .footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
  }
  .footer p {
    margin: 0;
  }
  form {
    background: var(--main-color);
    color: white;
  }
  form div {
    justify-content: center;
    text-align: center;
  }
  .form-check-input:checked {
    background-color: var(--alt-color);
  }
  #emailHelp {
    color: white;
  }
  #back-to-top {
    background-color: #ffbf00;
    border-color: #ffbf00;
    box-shadow: none;
  }
  form input {
  margin: auto;
  max-width: 800px;
}